#showcase {
  width: calc(100% - 4rem);
  height: 100vh;
  background-color: #001016;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  margin-left: 4rem;
}

#showcase > div {
  border-radius: 0.5rem;
  background: #031c25;
  padding: 1rem;
  position: relative;
}

.profile {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.profile > div img {
  padding: 1em;
  border-radius: 200000px;
}

.profile > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile > div div * {
  line-height: 1;
}

.profile > div div h1 {
  font-size: 4rem;
}

.profile > div div h2 {
  font-size: 2rem;
}

.profile > div:nth-child(2) {
  padding-top: 0;
}

.profile > div:nth-child(2) ul {
  padding-left: 4rem;
  font-size: 2rem;
  list-style: none;
}

.profile > div:nth-child(2) ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.75;
}

.profile > div:nth-child(2) ul .material-icons {
  padding-right: 1rem;
  font-size: 3rem;
}

.buttons {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttons a {
  font-size: 1.5rem;
  border: solid 1px #fff;
  color: #fff;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

.buttons a:hover {
  color: #c5c5c5;
  border: solid 1px #c5c5c5;
  -webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=profile.css.map */