@import "../imports/colors";
@import "../imports/sizes";
@import "../imports/mixins";

#showcase {
    width: calc(100% - 4rem);
    height: 100vh;
    background-color: $color-bg;
    display: inline-grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    margin-left: 4rem;

    & > div {
        border-radius: 0.5rem;
        background: $color-bg-focus;
        padding: 1rem;
        position: relative;
    }
}

.profile {
    color: $color-fg;
    display: flex;
    flex-direction: column;
    & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        img {
            padding: 1em;
            border-radius: 200000px;
        }
        div {
            display: flex;
            flex-direction: column;
            * {
                line-height: 1;
            }
            h1 {
                font-size: 4rem;
            }
            h2 {
                font-size: 2rem;
            }
        }

        &:nth-child(2) {
            padding-top: 0;
            ul {
                li {
                    display: flex;
                    align-items: center;
                    line-height: 1.75;
                }
                padding-left: 4rem;
                font-size: 2rem;
                list-style: none;
                .material-icons {
                    padding-right: 1rem;
                    font-size: 3rem;
                }
            }
        }
    }
}

.buttons {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    a {
        font-size: 1.5rem;
        border: solid 1px $color-fg;
        color: $color-fg;
        padding: 0.75rem;
        margin-top: 0.5rem;
        border-radius: 0.5rem;
        text-decoration: none;
        &:hover {
            color: $color-fg-focus;
            border: solid 1px $color-fg-focus;
            box-shadow: 6px 6px 6px $shadow-color;
        }
    }
}
