@import "../imports/colors";
@import "../imports/sizes";

nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: calc(100% + 300px);
    padding-bottom: 300px;
    width: $sidebar-width;
    background-color: $color-bg;
    color: $color-fg;

    .links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: calc(100% - 4rem);
    }

    & > .burger {
        margin: 1rem;
        --height: 1.666rem;
        opacity: calc(1 - var(--nav-opacity));
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }

    li {
        max-height: 79px;
        cursor: pointer;
        font-size: 2rem;
        list-style: none;
        padding: 1rem;
        transform-origin: left center;
        transition: all 0.1s ease-in;
        display: flex;
        align-items: center;

        &.account {
            margin-top: auto;
        }

        &:hover {
            background-color: $color-bg-focus;
            box-shadow: 5px 5px 5px $shadow-color;
            transform: scale(1.1);
            border-radius: 0 0.5rem 0.5rem 0;
            width: $sidebar-width;

            span {
                opacity: 1;
            }
        }

        span {
            opacity: var(--nav-opacity);
        }
    }
    .sports {
        img {
            margin-right: 1rem;
            width: 2rem;
        }
    }
    a {
        display: flex;
        align-items: center;
        color: $color-fg;
        text-decoration: none;

        .material-icons {
            font-size: 2rem;
            margin-right: 1rem;
        }
    }
}
