nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: calc(100% + 300px);
  padding-bottom: 300px;
  width: 23rem;
  background-color: #001016;
  color: #fff;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: calc(100% - 4rem);
}

nav > .burger {
  margin: 1rem;
  --height: 1.666rem;
  opacity: calc(1 - var(--nav-opacity));
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}

nav li {
  max-height: 79px;
  cursor: pointer;
  font-size: 2rem;
  list-style: none;
  padding: 1rem;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li.account {
  margin-top: auto;
}

nav li:hover {
  background-color: #031c25;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 0 0.5rem 0.5rem 0;
  width: 23rem;
}

nav li:hover span {
  opacity: 1;
}

nav li span {
  opacity: var(--nav-opacity);
}

nav .sports img {
  margin-right: 1rem;
  width: 2rem;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
}

nav a .material-icons {
  font-size: 2rem;
  margin-right: 1rem;
}
/*# sourceMappingURL=navigation.css.map */