@-webkit-keyframes top {
  from {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  to {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

@keyframes top {
  from {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  to {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

#scroller {
  position: fixed;
  height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#scroller .content {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 200px, #465298 200px, #465298 400px);
}

#controlls {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

#controlls div {
  -webkit-animation: top 2s alternate infinite ease-in-out;
          animation: top 2s alternate infinite ease-in-out;
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  border-radius: 5000px;
  background-color: #001016;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

#controlls div.active {
  opacity: 1;
  pointer-events: auto;
}

#controlls div:hover {
  -webkit-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  background-color: #031c25;
}

#controlls div .material-icons {
  color: #fff;
  font-size: 2rem;
}

#sports {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#sports div {
  min-width: calc(100vw - 4rem);
  padding: 2rem;
  overflow: hidden;
  position: relative;
  min-width: 100vw;
}

#sports div:after {
  z-index: 10;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #001016;
  opacity: 0.5;
}

#sports video,
#sports img {
  position: absolute;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: calc(100% + 20px);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

h1 {
  color: #fff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 5rem;
}

h2 {
  color: #fff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 3rem;
}

#slide1 span {
  z-index: 15;
  position: absolute;
  top: 37%;
  right: 10%;
  line-height: 1;
}

#slide1 span h1 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 8rem;
}

#slide1 span h2 {
  text-align: right;
}

#slide2 span {
  z-index: 15;
  position: absolute;
  top: 60%;
  right: 10%;
}

#slide3 span {
  z-index: 15;
  position: absolute;
  top: 40%;
  left: 5%;
}
/*# sourceMappingURL=scroll.css.map */