@import "../imports/colors";
@import "../imports/sizes";

@keyframes top {
    from {
        transform: translateY(-0.5rem);
    }
    to {
        transform: translateY(0.5rem);
    }
}

#scroller {
    position: fixed;
    height: 110%;
    display: flex;

    .content {
        z-index: 10;
        width: 100vw;
        height: 100vh;
        background: repeating-linear-gradient(
            45deg,
            #606dbc,
            #606dbc 200px,
            #465298 200px,
            #465298 400px
        );
    }
}

#controlls {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    z-index: 100;

    div {
        animation: top 2s alternate infinite ease-in-out;
        // opacity: 0;
        margin-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-radius: 5000px;
        background-color: $color-bg;
        cursor: pointer;
        box-shadow: 5px 5px 5px $shadow-color;
        transition: all 0.1s ease-in;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }

        &:hover {
            box-shadow: 5px 5px 7px $shadow-color;
            background-color: $color-bg-focus;
        }

        .material-icons {
            color: $color-fg;
            font-size: 2rem;
        }
    }
}

#sports {
    display: flex;
    position: relative;

    div {
        min-width: calc(100vw - 4rem);
        padding: 2rem;

        overflow: hidden;
        position: relative;
        min-width: 100vw;
        &:after {
            z-index: 10;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $color-bg;
            opacity: 0.5;
        }
        
    }

    video,
    img {
        position: absolute;
        top: -10px;
        left: -10px;
        bottom: -10px;
        right: -10px;
        object-fit: cover;
        width: calc(100% + 20px);

        filter: blur(10px);
    }
}

h1 {
    color: $color-fg;
    text-shadow: 5px 5px 5px $shadow-color;
    font-size: 5rem;
}

h2 {
    color: $color-fg;
    text-shadow: 5px 5px 5px $shadow-color;
    font-size: 3rem;
}

#slide1 {
    span{
        z-index: 15;
        position: absolute;
        top: 37%;
        right: 10%;
        line-height: 1;
        h1 {
            font-family: 'Bowlby One SC', cursive;
            font-size: 8rem;
        }
        h2 {
            text-align: right;
        }
    }
}

#slide2 {
    span {
        z-index: 15;
        position: absolute;
        top: 60%;
        right: 10%;
    }
}

#slide3 {
    span {
        z-index: 15;
        position: absolute;
        top: 40%;
        left: 5%;
    }
}