@import "../imports/colors";
@import "../imports/sizes";

body {
    background: $color-bg;
}

.oh {
    padding-top: 3rem;
    color: $color-fg;
    margin-left: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & > h1 {
        font-size: 4rem;
    }
    .cards {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 3rem;
        color: $color-fg;
        justify-content: center;

        .card {
            border-radius: 0.5rem;
            color: $color-fg;
            padding: 1rem;
            margin: 1rem;
            width: 100%;
            height: 300px;
            max-width: 350px;
            background-color: $color-bg-focus;
            box-shadow: 7px 7px 20px $shadow-color;
            position: relative;
            transition: all 0.1s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
            h1 {
                font-size: 2wrem;
            }

            h2 {
                padding: 2rem 0;
            }
            h3 {
                line-height: 1.5;
            }
        }
    }
}
