body {
  background: #001016;
}

.oh {
  padding-top: 3rem;
  color: #fff;
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.oh > h1 {
  font-size: 4rem;
}

.oh .cards {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 3rem;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.oh .cards .card {
  border-radius: 0.5rem;
  color: #fff;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  height: 300px;
  max-width: 350px;
  background-color: #031c25;
  -webkit-box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.oh .cards .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.oh .cards .card h1 {
  font-size: 2wrem;
}

.oh .cards .card h2 {
  padding: 2rem 0;
}

.oh .cards .card h3 {
  line-height: 1.5;
}
/*# sourceMappingURL=allEvents.css.map */