.burger {
  --height: inherit;
  height: var(--height);
  width: calc(1.2 * var(--height));
  cursor: pointer;
  position: relative;
}

.burger div {
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  height: calc(var(--height) / 5);
  background-color: #fff;
  border-radius: 10000px;
}

.burger div:nth-child(1) {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.burger div:nth-child(2) {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.burger div:nth-child(3) {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.burger.active div:nth-child(1) {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.burger.active div:nth-child(3) {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media (hover: hover) {
  .burger:hover div,
  .burger:focus div {
    background-color: #c5c5c5;
  }
  .burger:hover div:nth-child(1),
  .burger:focus div:nth-child(1) {
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
  }
  .burger:hover div:nth-child(3),
  .burger:focus div:nth-child(3) {
    -webkit-transform: translateY(200%) scaleX(0.8);
            transform: translateY(200%) scaleX(0.8);
  }
  .burger.active div:nth-child(1) {
    -webkit-transform: scaleX(0.8) translateY(200%);
            transform: scaleX(0.8) translateY(200%);
  }
  .burger.active div:nth-child(3) {
    -webkit-transform: scaleX(0.8) translateY(0%);
            transform: scaleX(0.8) translateY(0%);
  }
}
/*# sourceMappingURL=burger.css.map */