@import "imports/colors";
@import "imports/sizes";
@import "imports/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    --color-bg: #121212;
    --color-card-bg: #202020;
    --color-fg: #ffffff;
    --color-fg-focus: #bbbbbb;
    --color-shadow: rgba(0, 0, 0, 0.5);
    --color-primary: rgb(95, 145, 210);
}
html {
    font-size: 16px;
}

.material-icons,
img {
    @include unselectable;
}

@media (max-height: 800px) {
    html {
        font-size: 12px;
    }
}
