body {
  background: #001016;
}

.form {
  padding-top: 6rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .naslov {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.form .naslov i.material-icons {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.form .naslov i.material-icons:hover {
  color: #c5c5c5;
}

.form h1 {
  padding: 1rem;
  font-size: 4rem;
  color: #fff;
}

.form h2 {
  padding: 0.5rem;
  font-size: 2rem;
  color: #fff;
}

.form form {
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.form form input:not([type=checkbox]), .form form select, .form form textarea {
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  background-color: #001016;
  border: none;
  padding: .5rem;
  margin: .5rem;
  border-bottom: #fff 1px solid;
}

.form form textarea {
  border: #fff 1px solid;
  border-radius: .5rem;
}
/*# sourceMappingURL=register.css.map */